#leftDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
  background: red;
}
.d {
  margin: 20px;
  width: 300px;
}

.headDiv{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head-text{
    font-size: 30px;
}

.btn{
    width: 150px;   
}
.hidden{
    display: none;
}
.btnOpened{
  grid-template-columns: repeat(2, 1fr);
}
#bodyDiv{
  display: flex;  
  flex-diraction: column;
}

.divclass img{
    width: 200px;
    /* height: 400px; */
    overflow: hidden;
}
/*.openedDiv{
  display : flex;
  flex-diraction: column;
}
*/
