.leftDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}
.rightDiv{
  padding:40px;
  width:40%;
}
.d {
  margin: 20px;
  width: 300px;
}

.headDiv{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head-text{
    font-size: 30px;
}

.btn{
    width: 100%;   
}
.hidden{
    display: none;
}
.btnOpened{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}
#bodyDiv{
  display: flex;  
  flex-diraction: column;
}

.divclass img{
    width: 200px;
    /* height: 400px; */
    overflow: hidden;
}
/*.openedDiv{
  display : flex;
  flex-diraction: column;
}
*/
